* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  font-family: "Inter", sans-serif;
  color: white;
}

/* Navbar */

.navbar {
  height: 80px;
  padding: 0 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(255, 255, 255, 0.05);

  backdrop-filter: blur(20px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.logo h2 {
  font-size: 28px;
  font-weight: 800;

  background: linear-gradient(
    90deg,
    #38bdf8,
    #818cf8,
    #c084fc
  );

  -webkit-background-clip: text;
  color: transparent;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  color: #cbd5e1;

  font-size: 16px;
  font-weight: 500;

  transition: 0.3s;
}

.nav-links a:hover {
  color: white;
}

.nav-btn {
  border: none;
  cursor: pointer;

  padding: 12px 24px;

  border-radius: 12px;

  color: white;

  font-weight: 600;

  background: linear-gradient(
    135deg,
    #2563eb,
    #7c3aed
  );

  transition: 0.3s;
}

.nav-btn:hover {
  transform: translateY(-2px);

  box-shadow: 0 15px 30px rgba(59, 130, 246, 0.35);
}

