*{
  box-sizing:border-box;
}


.details-container{


  min-height:100vh;


  background:


  linear-gradient(
    135deg,
    #f8fafc,
    #e0e7ff
  );


  display:flex;


  justify-content:center;


  align-items:center;


  gap:80px;


  padding:60px;


}





/* IMAGE SECTION */


.details-image{


  width:480px;


  height:480px;


  background:white;


  border-radius:35px;


  padding:25px;


  overflow:hidden;



  box-shadow:

  0 30px 80px rgba(15,23,42,.15);



  animation:float 4s ease infinite;


}





.details-image img{


  width:100%;


  height:100%;


  object-fit:contain;


  transition:.5s;


}




.details-image:hover img{


  transform:scale(1.08);


}






/* CONTENT */


.details-content{


  width:520px;


}





.details-title{


  font-size:48px;


  line-height:1.1;


  color:#0f172a;


  font-weight:900;


  margin-bottom:15px;


}





.details-category{


  display:inline-block;


  background:#dbeafe;


  color:#2563eb;


  padding:8px 18px;


  border-radius:30px;


  font-weight:700;


  text-transform:capitalize;


  margin-bottom:25px;


}






.details-description{


  color:#475569;


  font-size:17px;


  line-height:1.8;


  margin-bottom:25px;


}






/* PRICE */


.details-price{


  font-size:45px;


  font-weight:900;


  color:#16a34a;


  margin-bottom:25px;


}






/* INFO */


.details-info{


  display:flex;


  gap:15px;


  margin-bottom:35px;


}





.details-info span{


  background:white;


  color:#334155;


  padding:12px 22px;


  border-radius:30px;


  font-weight:700;



  box-shadow:

  0 10px 25px rgba(0,0,0,.08);


}






/* BUTTON */


.buy-btn{


  width:100%;


  padding:18px;



  border:none;


  border-radius:20px;



  background:


  linear-gradient(

  135deg,

  #2563eb,

  #9333ea

  );



  color:white;


  font-size:18px;


  font-weight:800;


  cursor:pointer;


  transition:.3s;


}






.buy-btn:hover{


  transform:translateY(-5px);


  box-shadow:


  0 20px 40px rgba(37,99,235,.35);


}






/* ANIMATION */


@keyframes float{


  0%,100%{

    transform:translateY(0);

  }


  50%{

    transform:translateY(-12px);

  }

}






/* MOBILE */


@media(max-width:900px){


.details-container{


  flex-direction:column;


  padding:30px;


  gap:40px;


}



.details-image{


 width:330px;

 height:330px;

}



.details-content{


 width:100%;

 text-align:center;

}



.details-title{


 font-size:34px;


}



}