*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Inter;
overflow:hidden;
}

.screen{
height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:
radial-gradient(circle at top,#1e1b4b,#050816);

position:relative;
}

.bg-circle{
position:absolute;

border-radius:50%;

filter:blur(150px);
}

.one{
width:500px;

height:500px;

background:#5b21b6;

left:-100px;

top:-100px;
}

.two{
width:400px;

height:400px;

background:#0ea5e9;

right:-100px;

bottom:-100px;
}

.card{

width:420px;

padding:50px;

border-radius:40px;

background:
rgba(255,255,255,.06);

backdrop-filter:blur(35px);

border:
1px solid rgba(255,255,255,.1);

box-shadow:

0 30px 100px rgba(0,0,0,.4);

text-align:center;

z-index:5;
}

.label{

color:#aaa;

letter-spacing:6px;

font-size:12px;

margin-bottom:40px;
}

.ring{

width:260px;

height:260px;

margin:auto;
}

.fill{

width:100%;

height:100%;

padding:14px;

border-radius:50%;

transition:1s;
}

.center{

width:100%;

height:100%;

border-radius:50%;

background:

linear-gradient(
145deg,
rgba(255,255,255,.08),
rgba(255,255,255,.02)
);

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

color:white;

box-shadow:
inset 0 0 30px rgba(255,255,255,.1);
}

.center h1{

font-size:90px;

text-shadow:

0 0 35px #8b5cf6;

animation:pop .25s;
}

.center span{

color:#8b5cf6;

letter-spacing:3px;
}

.controls{

margin-top:50px;

display:flex;

gap:20px;
}

button{

flex:1;

height:75px;

border:none;

border-radius:20px;

font-size:36px;

cursor:pointer;

transition:.3s;
}

button:hover{

transform:

translateY(-6px)
scale(1.04);
}

.minus{

background:

linear-gradient(
135deg,
#ef4444,
#7f1d1d
);

color:white;
}

.plus{

background:

linear-gradient(
135deg,
#7c3aed,
#2563eb
);

color:white;

box-shadow:
0 0 40px #7c3aed;
}

@keyframes pop{

from{
transform:scale(.85);
}

to{
transform:scale(1);
}

}